<form action="/update" method="POST">
    <label for="initial">Initial name : </label>
    <input type="text" name="initial">
    <label for="forUpdate">For update : </label>
    <input type="text" name="forUpdate">
    <button type="submit">Update</button>
</form>